.container h3 {
	margin-bottom: 30px;
	padding-left: 30px;
}

.container button {
	height: 30px;
	width: 200px;
	border-radius: 8px;
	border: 1px solid rgba(0, 0, 0, 0.413);
	position: relative;
	background-color: #2f3e46;
	color: white;
	cursor: pointer;
	transition: all linear 0.2s;
}

.container button:hover {
	background-color: #354f52;
}

.errors_container {
	background-color: rgb(63, 63, 63);
	font-size: 14px;
	color: white;
	padding: 20px;
	margin: 10px 0 10px 0;
}

.names,
.email {
	display: flex;
	justify-content: space-between;
}
.names {
	padding: 0 30px 50px 30px;
}
.email {
	padding: 0 30px 10px 30px;
}

.info_text {
	font-size: 14px;
}

.fn,
.ln {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 450px;
}

.ln {
	padding-top: 20px;
}

.fn h4,
.ln h4,
.email_info h4 {
	margin-bottom: 5px;
	font-size: 14px;
	font-weight: 100;
	color: #bcbcbc;
	user-select: none;
}

.email_info {
	display: flex;
	flex-direction: column;
}

.names input,
.email_info input {
	all: unset;
	height: 30px;
	padding: 8px;
	width: 250px;
	border-radius: 5px;
	background-color: #1d2529;
	color: #fff;
}

.update_buttons span {
	margin-left: 10px;
}

.check,
.cancel,
.edit_name,
.edit_email {
	cursor: pointer;
}

.check {
	color: rgb(18, 139, 18);
}
.check:hover {
	color: rgb(42, 197, 42);
}
.cancel {
	color: rgb(137, 11, 11);
}
.cancel:hover {
	color: rgb(255, 0, 0);
}
.edit_name,
.edit_email {
	color: rgb(185, 185, 185);
}
.edit_name:hover,
.edit_email:hover {
	color: rgb(255, 255, 255);
}

.demo_error {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.demo_error span {
	color: red;
	font-size: 12px;
	margin-top: 10px;
}
