.sign_up_outer_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 600px;
	padding: 30px 0;
	background-color: #cad2c5;
}

.sign_up_logo {
	width: 200px;
	margin-bottom: 20px;
}

.sign_up_outer_container h2 {
	margin-bottom: 20px;
}

.error_outer_container {
	margin-bottom: 20px;
}

.error_container {
	background-color: #2f3e46;
	padding: 10px;
	font-size: 14px;
	color: white;
}

.signup_label {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	font-size: 14px;
}

.signup_label span {
	margin-bottom: 5px;
}

.signup_label input {
	height: 30px;
	padding: 5px;
	width: 250px;
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.521);
}

.sign_up_form_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
}

.sign_up_form_container label {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.signup_button_container {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	margin: 20px 0;
}

.signup_button_container button:first-child {
	background-color: #dda15e;
	color: black;
}
.signup_button_container button:first-child:hover {
	background-color: #a26d31;
	color: white;
}

.signup_button_container button:last-child:hover {
	background-color: black;
}

.signup_button_container button {
	padding: 10px;
	width: 100px;
	background-color: #2f3e46;
	color: white;
	border: none;
	filter: none;
	transition: all linear 0.2s;
	cursor: pointer;
	border-radius: 5px;
}

.login_signup_switch {
	font-size: 14px;
	cursor: pointer;
}
.login_signup_switch:hover {
	color: #2f3e46;
}
