.h1_element {
	margin: 30px;
}

.outer_container {
	overflow-y: auto;
}

.container {
	display: grid;
	padding: 20px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 1150px) {
	.container {
		display: grid;
		padding: 20px;
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media screen and (max-width: 880px) {
	.container {
		display: grid;
		padding: 20px;
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 580px) {
	.container {
		display: flex;
		flex-direction: column;
		padding: 20px;
	}
}

.each_spot_container {
	cursor: pointer;
	margin: 10px;
	height: 250px;
	border-radius: 8px;
	overflow: hidden;
}

.each_spot_container:hover {
	filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.141));
	transform: translateY(-5px);
	transition: all linear 0.2s;
	transition-delay: 0.5s;
}

.img_container {
	width: 100%;
	height: 180px;
	position: relative;
}

.img_overlay_grid {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 50;
	background: linear-gradient(90deg, rgb(0, 0, 0), rgb(210, 20, 20));
	opacity: 0.5;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	font-weight: 600;
}

.each_spot_container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 8px;
}

.desc_container {
	display: flex;
	justify-content: space-between;
}

.desc_type_icon {
	margin-top: 5px;
}

.city_info {
	font-size: 14px;
}

.city_info i {
	margin-right: 5px;
}

.price_type {
	display: flex;
	justify-content: space-between;
}
.price_type span:first-child {
	font-weight: 600;
}
.price_type span:last-child {
	font-size: 12px;
	margin-left: 5px;
}
