.c1 {
	padding: 8px;
	margin-bottom: 35px;
	width: 100%;
	background-color: #2f3e46;
	display: flex;
	align-items: center;
	filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.328));
}

.return_to_splash {
	text-decoration: none;
	color: white;
	cursor: pointer;
	font-size: 12px;
}

.return_to_splash:hover {
	color: #cad2c5;
}

.h1_element {
	margin: 15px;
}

.container {
	display: grid;
	padding: 20px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.each_spot_container {
	cursor: pointer;
	margin: 10px;
	height: 250px;
	border-radius: 8px;
	overflow: hidden;
}

.each_spot_container img {
	width: 100%;
	height: 180px;
	object-fit: cover;
	border-radius: 8px;
}

.city_info {
	font-size: 14px;
}

.city_info i {
	margin-right: 5px;
}

.price_info span:first-child {
	font-weight: 600;
}
.price_info span:last-child {
	font-size: 12px;
	margin-left: 5px;
}
