.pf_oc,
.profile_container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

.name_cont {
	margin-bottom: 65px;
	width: 100%;
	padding-left: 30px;
}

.content_all {
	display: grid;
	position: relative;

	grid-template-columns: 1fr 4fr;
	gap: 20px;
	width: 100%;
}

.left {
	width: 100%;
	padding-left: 30px;
}

.left div {
	margin-bottom: 20px;
	cursor: pointer;
	color: #2f3e46;
}

.left div:hover {
	margin-bottom: 20px;
	cursor: pointer;
	color: #52796f;
	filter: drop-shadow(0 0 4px rgba(56, 171, 36, 0.147));
}

.main {
	width: 100%;
}
