.spots_container {
	width: 100%;
	padding: 20px 20px 20px 0;
	margin-top: 20px;
}
.my_each_spot {
	width: 90%;
	display: grid;
	grid-template-columns: 1fr 2fr;
	border: 1px solid black;
	margin-bottom: 30px;
	border-radius: 10px;
	overflow: hidden;
	background: linear-gradient(45deg, rgb(255, 255, 255), #c1c1c1);
	cursor: pointer;
	transition: all 0.25s ease-in-out;
}

.my_each_spot img {
	width: 300px;
	height: 200px;
	object-fit: cover;
	filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.328));
}

.spot_info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 18px;
}

.spot_info * {
	overflow-wrap: break-word;
	width: 400px;
}

.my_each_spot:hover {
	filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.328));
	transform: translateY(-3px);
}
