.spots_container {
	width: 100%;
	padding: 20px;
	margin-top: 20px;
}
.my_each_spot {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 2fr;
	margin-bottom: 30px;
	border-radius: 10px;
	overflow: hidden;
	background-image: radial-gradient(
		circle farthest-corner at 10% 20%,
		rgba(90, 92, 106, 1) 0%,
		rgba(32, 45, 58, 1) 81.3%
	);
	cursor: pointer;
	transition: all 0.25s ease-in-out;
	box-sizing: border-box;
}

.my_each_spot img {
	height: 200px;
	object-fit: cover;
	filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.328));
}

.spot_info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 18px;
	width: 100%;
	padding: 10px;
}

.spot_info * {
	overflow-wrap: break-word;
	width: 100%;
}

.my_each_spot:hover {
	filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.328));
	transform: translateY(-5px);
}
