* {
	font-family: "Montserrat", sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(189, 189, 189);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.app_page_container {
	width: 85vw;
	height: 100%;
	min-height: 100vh;
	min-width: 1000px;
	max-width: 1200px;
	background-color: white;
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding-bottom: 70px;
	filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.328));
}

#COLOR_THEME_LIBRARY {
	color: #cad2c5;
	color: #84a98c;
	color: #52796f;
	color: #354f52;
	color: #2f3e46;

	background-color: #cad2c5;
	background-color: #84a98c;
	background-color: #52796f;
	background-color: #354f52;
	background-color: #2f3e46;

	/* accent color */
	color: #dda15e;
}
