* {
	font-family: "Montserrat", sans-serif;
	box-sizing: border-box;
	overflow-wrap: break-word;
	margin: 0;
	padding: 0;
}

body {
	background-image: url("../public/images/camp_dark.png");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

button {
	all: unset;
}

.app_page_container {
	height: 100%;
	min-height: 100vh;
	background-color: rgba(24, 27, 26, 0.75);
	color: #ddd;
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	::-webkit-scrollbar {
		display: none;
	}
}

@media screen and (max-width: 1215px) {
	.app_page_container {
		width: 100%;
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

#COLOR_THEME_LIBRARY {
	color: #cad2c5;
	color: #84a98c;
	color: #52796f;
	color: #354f52;
	color: #2f3e46;

	background-color: #cad2c5;
	background-color: #84a98c;
	background-color: #52796f;
	background-color: #354f52;
	background-color: #2f3e46;

	/* accent color */
	color: #dda15e;
}

.logo-github {
	color: #fff;
}
