.container {
	width: 100vw;
	height: 100vh;
	background-image: url("./camp.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
}

.main {
	color: #ddd;
	margin: 50px;
	border-radius: 8px;
	background: linear-gradient(
		to right bottom,
		rgba(0, 0, 0, 0.4) 0%,
		rgba(0, 0, 0, 0.9) 100%
	);
	backdrop-filter: blur(5px);
	box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
	overflow: hidden;
	transition: all 0.5s ease-in-out;
	min-width: 320px;
	width: 60vw;
	max-width: 700px;
}

.content {
	height: 1;
	width: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 40px;
}

.main header {
	width: 100%;
	display: flex;
	align-items: center;
}

.main header p {
	font-size: 14px;
	margin-left: 5px;
	background: -webkit-linear-gradient(#555, #fff);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.main header img {
	width: 50px;
}

/* LOGIN */

.login_form {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 500px;
	justify-content: center;
}
.login_form h1,
.signup_form h1 {
	margin: 25px 0 20px 0;
}

.login_form label,
.signup_form label {
	font-size: 12px;
	color: #999;
	margin: 15px 0 10px 0;
}

.input {
	height: 60px;
	padding: 10px;
	margin-bottom: 5px;
	background-color: rgba(24, 27, 26, 0.6);
	border: none;
	border-radius: 5px;
	outline: none;
	color: #eee;
	font-size: 16px;
	width: 100%;
}

.login_button,
.signup_button {
	width: 1;
	border-radius: 5px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	cursor: pointer;
}
.login_button {
	background-color: rgba(5, 150, 105, 0.7);
}

.login_button:hover {
	background-color: rgba(5, 150, 105, 1);
}

.switch_button {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
	cursor: pointer;
	font-size: 14px;
	color: #ccc;
	margin: 20px 0 20px 0;
}

.switch_button:hover {
	color: #eee;
}

.form_error {
	color: red;
	font-size: 12px;
	margin-bottom: 10px;
}

.demo {
	width: 100%;
	background-color: rgba(24, 27, 26, 0.6);
	border-radius: 5px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5px;
	cursor: pointer;
}

.demo:hover {
	background-color: rgba(0, 0, 0, 0.58);
}

.signup_form {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 500px;
	opacity: 0;
}

.signup_button {
	background-color: rgba(33, 5, 150, 0.7);
}

.signup_button:hover {
	background-color: rgba(33, 5, 150, 1);
}

.visible {
	opacity: 1;
	position: static;
	transform: translateX(0%);
	transition-timing-function: cubic-bezier();
	transition-property: all;
	transition-duration: 500ms;
}

.invisible {
	opacity: 0.5;
	position: absolute;
	transform: translateX(-200%);
}

.about_container,
.logout_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.85);
	width: 75vw;
	max-width: 800px;
	padding: 45px;
	color: white;
	min-width: 320px;
}

.about_container header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo_wrapper {
	display: flex;
	align-items: center;
}

.about_container header p {
	background: -webkit-linear-gradient(#555, #fff);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 20px;
}

.about_container img {
	width: 80px;
}

.about_container h1 {
	margin: 30px 0 15px 0;
}

.about_container h3 {
	margin: 15px 0 15px 0;
	font-size: 16px;
	font-weight: 300;
}

.about_container p {
	font-size: 14px;
	font-weight: 200;
}

.xmark_wrapper {
	display: flex;
	align-self: start;
}

.continue {
	width: 100%;
	border-radius: 5px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	cursor: pointer;
	background-color: rgba(5, 150, 105, 0.7);
}

.continue:hover {
	background-color: rgba(5, 150, 105, 1);
}

.continue_msg {
	font-size: 14px;
	margin: 10px 0 10px 0;
}

.continue_sign_out {
	font-size: 14px;
	margin: 10px 0 10px 0;
	cursor: pointer;
	color: #bbb;
}

.continue_sign_out:hover {
	opacity: 0.8;
}

.logout_container h1 {
	font-size: 20px;
	text-align: center;
}

.logout {
	width: 100%;
	border-radius: 5px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	cursor: pointer;
	background-color: rgba(131, 131, 131, 0.7);
}

.logout:hover {
	background-color: rgba(131, 131, 131, 0.5);
}
