.container {
	width: 100vw;
	height: 100vh;
	background-image: url("./camp.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main {
	color: #ddd;
	height: 50vh;
	width: 600px;
	margin: 50px;
	border-radius: 8px;
	background: linear-gradient(
		to right bottom,
		rgba(0, 0, 0, 0.4) 0%,
		rgba(0, 0, 0, 0.9) 100%
	);
	backdrop-filter: blur(5px);
	box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	padding: 30px;
}

.main header {
	width: 100%;
	display: flex;
	align-items: center;
}

.main header p {
	font-size: 14px;
	margin-left: 5px;
	background: -webkit-linear-gradient(#555, #fff);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.main header img {
	width: 50px;
}

/* LOGIN */

.login_form {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.login_form h1 {
	margin: 25px 0 20px 0;
}

.login_form label {
	font-size: 12px;
	color: #999;
	margin: 15px 0 10px 0;
}

.login_input {
	height: 60px;
	padding: 10px;
	margin-bottom: 5px;
	background-color: #222;
	border: none;
	border-radius: 5px;
	outline: none;
	color: #eee;
	font-size: 16px;
}

.login_button {
	width: 100%;
	background-color: #059669;
	border-radius: 5px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	cursor: pointer;
}

.login_button:hover {
	background-color: #057853;
}

.switch_button {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
	cursor: pointer;
	font-size: 14px;
	color: #ccc;
}

.switch_button:hover {
	color: #eee;
}

.form_error {
	color: red;
	font-size: 12px;
	margin-bottom: 10px;
}

.demo {
	width: 100%;
	background-color: #313131;
	border-radius: 5px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5px;
	cursor: pointer;
}

.demo:hover {
	background-color: #4c4c4c;
}

/* .splash_content {
	background: linear-gradient(45deg, #10191d, rgb(22, 81, 8));
	padding: 50px;
	color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.splash_content img {
	width: 200px;
}

.splash_content * {
	font-size: 14px;
	margin: 0px 0;
}

.buttons {
	display: flex;
	width: 80%;
	height: 200px;
	flex-direction: column;
}
.signup_login {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 20px;
}

.new_user,
.existing_user,
.demo_user,
.just_browsing {
	display: flex;
	flex-direction: column;
	font-size: 14px;
}

.new_user div,
.existing_user div,
.demo_user div,
.just_browsing div {
	color: black;
	width: 200px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	font-weight: 600;
	cursor: pointer;
}

.new_user div:hover,
.existing_user div:hover,
.demo_user div:hover,
.just_browsing div:hover {
	opacity: 0.8;
	animation: button-hover 0.3s ease-out;
	font-size: 15px;
}

@keyframes button-hover {
	0% {
		font-size: 15px;
	}
}

.new_user div {
	background-color: #84a98c;
}

.demo_user div {
	background-color: #949494;
}

.existing_user div {
	background-color: #dda15e;
}

.just_browsing {
	width: 100%;
	display: inline;
}

#here {
	display: inline-block;
	font-weight: 600;
	color: #a0c8a9;
	cursor: pointer;
}

.just_browsing {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.just_browsing div {
	color: rgb(0, 0, 0);
	width: 30%;
	border: 1px solid black;
	background-color: rgb(196, 230, 187);
} */
