.no_bookings {
	padding: 20px;
	font-size: 14px;
}

.each_booking {
	display: flex;
	position: relative;
	background-color: #e9e9e9;
	padding: 15px;
	margin: 20px;
	border-radius: 5px;
}

.each_booking img {
	width: 200px;
}

.each_booking_right {
	width: 100%;
}

.booking_spotInfo {
	background-color: #cad2c598;
	padding: 5px;
	cursor: pointer;
}

.booking_spotInfo:hover {
	color: #4c7136;
}

.subheading {
	margin-left: 20px;
}

#past_bookings {
	margin-top: 50px;
}

.time_container {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 50px;
	padding: 10px;
	font-size: 15px;
	font-weight: 600;
}

.each_more_info {
	padding: 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.num {
	font-size: 26px;
	font-weight: 400;
	margin-left: 8px;
}

.each_more_info div i {
	font-size: 26px;
}

#past_info * {
	opacity: 0.7;
}

.edit,
.delete {
	width: 100px;
	text-transform: uppercase;
	border-radius: 5px;
	padding: 10px;
	border: 1px solid black;
	cursor: pointer;
	color: white;
	font-weight: 400;
}

.edit {
	background-color: #e39e4e;
	color: black;
	transition: all linear 0.2s;
	font-weight: 600;
}
.edit:hover {
	background-color: #ca7a20;
	color: rgb(255, 255, 255);
}
.delete {
	background-color: rgb(87, 10, 10);
	transition: all linear 0.1s;
	font-weight: 600;
}

.delete:hover {
	background-color: rgb(133, 13, 13);
	border: 1px solid #e51919;
	transform: translateY(-1px);
	filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.397));
}
.delete:active {
	transform: translateY(0px);
}

.booking_img {
	object-fit: cover;
}

.confirm_window {
	position: fixed;
	background-color: white;
	opacity: 0.8;
	height: 200px;
	width: 600px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: 2px solid rgb(118, 7, 7);
}

.confirm_button_container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	margin-top: 30px;
	width: 100%;
}

.confirm_button_container button {
	height: 40px;
	width: 200px;
	border: 1px solid #a2b298;
	border-radius: 5px;
	cursor: pointer;
	transition: all linear 0.1s;
	font-weight: 600;
}
.confirm_button_container button:first-child {
	background-color: rgb(135, 0, 0);
	color: white;
}
.confirm_button_container button:last-child {
	background-color: #cad2c5;
}
.confirm_button_container button:hover {
	opacity: 0.7;
	transform: translateY(-2px);
	filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.397));
}
.confirm_button_container button:active {
	transform: translateY(0);
}
