.nav_container {
	background-color: #10191d;
	color: white;
	width: 100%;
	filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.581));
	padding: 15px;
}

.loaded_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.loaded_container a {
	text-decoration: none;
	color: white;
}

.profile_dropdown {
	position: absolute;
	border-radius: 8px;
	overflow: hidden;
	top: 85px;
	right: 10px;
	z-index: 999;
	background-color: rgb(101, 101, 101);
	filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.328));
	width: 250px;
}

.right {
	display: flex;
	margin-right: 50px;
	justify-content: center;
	align-items: center;
}

.right a:first-child {
	margin-right: 30px;
}

.right a i {
	font-size: 22px;
	margin-right: 8px;
}

.profile_icon {
	font-size: 28px;
	margin-left: 30px;
	cursor: pointer;
}

.log_in,
.sign_up {
	margin-left: 20px;
}

.go_to_profile {
	cursor: pointer;
	background-color: rgb(138, 138, 138);
	width: 100%;
	display: flex;
	font-size: 14px;
	justify-content: center;
	height: 40px;
	align-items: center;
}

.go_to_profile:hover {
	opacity: 0.7;
	color: black;
}

.log_out {
	background-color: rgb(138, 138, 138);
	border: none;
	filter: none;
	width: 100%;
	cursor: pointer;
	color: white;
	display: flex;
	font-size: 14px;
	height: 40px;
	justify-content: center;
	align-items: center;
}
.log_out:hover {
	opacity: 0.7;
	border: none;
	filter: none;
	color: red;
}

.c1 {
	padding: 8px;
	width: 100%;
	background-color: #2f3e46;
	display: flex;
	align-items: center;
}

.return_to_splash {
	text-decoration: none;
	color: white;
	cursor: pointer;
	font-size: 12px;
}

.return_to_splash:hover {
	color: #cad2c5;
}
