.nav_container {
	background-color: #10191d;
	color: white;
	width: 100%;
	filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.581));
	padding: 15px;
}

.loaded_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.loaded_container a {
	text-decoration: none;
	color: white;
}

.profile_dropdown {
	position: absolute;
	top: 100px;
	right: 10px;
	z-index: 200;
	background-color: rgb(101, 101, 101);
	padding: 50px;
}

.right {
	display: flex;
	margin-right: 50px;
	justify-content: center;
	align-items: center;
}

.right a:first-child {
	margin-right: 30px;
}

.right a i {
	font-size: 22px;
	margin-right: 8px;
}

.profile_icon {
	font-size: 28px;
	margin-left: 30px;
	cursor: pointer;
}

.log_in,
.sign_up {
	margin-left: 20px;
}
